<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GUI - Gestor</title>

    <link href='/img/favicon.png' rel='shortcut icon' type='image/png'>
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    
    <!--Font Awesome Pro Import-->
    <link rel="stylesheet" href="/plugins/fontawesome/all.min.css">
    
    <link rel="stylesheet" href="/css/core.css">
    <script src="/plugins/jquery/jquery-3.4.1.min.js"></script>
</head>
