<nav class="navbar navbar-expand-lg navbar-dark bg-dark pull-right">
    <a class="navbar-brand" href="/">
        <img src="/img/logo.png" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"><i class="far fa-house"></i> Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/noticias/"><i class="far fa-layer-plus"></i>Noticias</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fad fa-users-class"></i>Ultilidade Pública
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/admin/rastreio">Rastreio de Objetos</a>
            <a class="dropdown-item" href="/admin/previsao/">Previsão do Tempo</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fotos"><i class="fad fa-mask"></i>Fotos Carnaval</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/promocao"><i class="fad fa-camera-retro"></i>Fotos Promoções</a>
        </li>
      </ul>
    </div>
  </nav>
