<%- include("../../partials/header"); %>
    <%- include("../../partials/navbar"); %>
        <div style="min-height: 80vh;" class="page-wrap d-flex flex-row align-items-center">
            <div class="container mg-bottom-100">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <i style="font-size: 58px;" class="fal fa-sad-tear"></i>
                        <h3 class="d-block">C처digo N찾o Encontrado</h3>
                        <div class="mb-4 lead">N찾o encontramos nenhum registro para o c처digo fornecido</strong>.</div>
                        <a href="/admin/rastreio" class="btn btn-danger"><i class="fad fa-chevron-circle-left"></i>Voltar</a>
                    </div>
                </div>
            </div>
        </div>
        <%- include("../../partials/footer"); %>