<%- include("../partials/header"); %>
    <%- include("../partials/navbar"); %>
        <div style="min-height: 80vh;" class="page-wrap d-flex flex-row align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <img src="/img/gui-erro.png" width="100" alt="Erro">
                        <h3 class="d-block">C처digo N찾o Encontrado</h3>
                        <div class="mb-4 lead">N찾o encontramos nenhuma foto com o c처digo fornecido! Confira e tente novamente.</strong>.</div>
                        <a href="/fotos" class="btn btn-danger"><i class="fad fa-chevron-circle-left"></i>Voltar</a>
                    </div>
                </div>
            </div>
        </div>
        <%- include("../partials/footer"); %>